@import "tailwindcss";

:root {
	color-scheme: light dark;
}

body {
	margin: 0;
	background-color: transparent; /* 背景透過を維持 */
	height: 100%;
}

html,
#root {
	height: 100%;
	background-color: transparent;
}
